body {
    width: 100vw;
    height: 100vh;
    background-color: #d8d8d8;
}


.header {
    width: 100vw;
    height: 19vh;
    background-color: rgb(59, 59, 59);
    position: fixed;
}

.main-content {
    width: 80vw;
    height: 70vh;
    background-color: white;
    position: absolute;
    top: 250px;
    justify-content: center;
    left: 175px;

}

.footer {
    width: 80vw;
    height: 10vh;
    background-color: black;
    position: fixed;
    bottom: 0px;
    left: 175px;
}

